In [1]:
import pandas as pd
!pip3 install lxml
# from URL
dfs = pd.read_html("https://docs.google.com/spreadsheets/d/e/2PACX-1vQlEs3FxFPwm-dpvU1YdsfRgsbfT9WdiXJHZm9kJgGTziPnk-y3TWtftbSbxj6Fe_g0NxYgqyVHTVU5/pubhtml?gid=1397577608&amp;single=true&amp;widget=true&amp;headers=false")
df = dfs[0]
df = df.drop(columns='Unnamed: 0')
df.to_csv("df.csv", index=False, header=False)
df

Requirement already satisfied: lxml in /Users/heartji/opt/miniconda3/envs/dsi200/lib/python3.6/site-packages (4.9.2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,retrived_at,province_id,city,state,country,pollution_aqi,polution_main,weather_tp,weather_pr,weather_hu,weather_ws,weather_wd
1,2,5/2/2023 17:15:27,TH-10,Phra Nakhon,Bangkok,Thailand,82,p2,35,1006,49,6.77,178
2,3,5/2/2023 17:15:58,TH-11,Bang Phli,Samut Prakan,Thailand,65,p2,33,1006,66,7.2,200
3,4,5/2/2023 17:16:29,TH-12,Mueang Nonthaburi,Nonthaburi,Thailand,75,p2,35,1006,58,3.6,230
4,5,5/2/2023 17:17:00,TH-13,Khlong Luang,Pathum Thani,Thailand,67,p2,35,1006,74,3.6,230
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,63,5/2/2023 22:18:31,TH-16,Ban Mi,Lop Buri,Thailand,89,p2,29,1009,51,3.67,202
63,64,5/2/2023 22:19:02,TH-20,Na Kluea,Chon Buri,Thailand,72,p2,28,1010,78,4.36,208
64,65,5/2/2023 22:19:33,TH-21,Ban Khai,Rayong,Thailand,46,p2,28,1011,77,2.38,218
65,66,5/2/2023 22:20:04,TH-50,Chiang Mai,Chiang Mai,Thailand,90,p2,27,1012,69,5.66,20
66,67,5/2/2023 22:20:35,TH-52,Hang Chat,Lampang,Thailand,126,p2,26,1010,72,0.66,310

In [4]:
df.columns

Index(['retrived_at', 'province_id', 'city', 'state', 'country',
       'pollution_aqi', 'polution_main', 'weather_tp', 'weather_pr',
       'weather_hu', 'weather_ws', 'weather_wd'],
      dtype='object')

In [3]:
df.to_csv('result.csv', index=False)